@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0c0a09;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: #0c0a09;
    --primary-foreground: #78716c;

    --secondary: #cacace;
    --secondary-foreground: #f4f4f5;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;

    /* Other colors */
    --red: #ff5941;
    --orange: #f97316;
    --pink: #e794da;
    --blue: #0015ff;
    --teal: #1f464d;
    --teal-foreground: #3bb6ab;
    --yellow: #eab308;
    --yellow-foreground: #ffd726;
  }

  .dark {
    --background: #0c0a09;
    --foreground: #f1f1f3;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: #cacace;
    --primary-foreground: #f4f4f5;

    --secondary: #0c0a09;
    --secondary-foreground: #787778;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;


    /* Other colors */
    --red: #ff5941;
    --orange: #f97316;
    --pink: #e794da;
    --blue: #0015ff;
    --teal: #1f464d;
    --teal-foreground: #3bb6ab;
    --yellow: #eab308;
    --yellow-foreground: #ffd726;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  @font-face {
    font-family: "Overused Grotesk";
    src:
      url("../../public/fonts/OverusedGrotesk-VF.woff2") format("woff2 supports variations"),
      url("../../public/fonts/OverusedGrotesk-VF.woff2") format("woff2-variations");
    font-weight: 300 900;
  }

  @font-face {
    font-family: "Cotham Sans";
    src: url("../../public/fonts/CothamSans.otf") format("otf");
    font-weight: 400;
  }

  @font-face {
    font-family: "Calendas Plus";
    src: url("../../public/fonts/calendas_plus-webfont.woff") format("woff");
    font-weight: 400;
  }

  @font-face {
    font-family: "VT323";
    src: url("../../public/fonts/VT323-Regular.ttf") format("truetype");
    font-weight: 400;
  }

  @font-face {
    font-family: "Azeret Mono";
    src: url("../../public/fonts/AzeretMono-Variable.woff2") format("woff2-variations");
    font-weight: 100 900;
  }

  @font-face {
    font-family: "Noto Sans Symbols";
    src: url("../../public/fonts/NotoSansSymbols-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 900;
  }
}